@model Cinema_System.DTOs.RegisterDTO

@{
    ViewData["Title"] = "Sign Up";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/authentication.css" />
</head>

<div class="box">
    <h1>Cinema KSE</h1>

    <form method="post" asp-action="Register">
        <input asp-for="Email" placeholder="Email" type="email" required />
        <input asp-for = "UserName" placeholder="Username" type="text" required />
        <input asp-for="Password" placeholder="Password" type="password" required />

        <button type="submit">Sign In</button>

        <div class="error-message">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    </form>
    <p>Already have an account? <a asp-action="Login">Log in here</a></p>
</div>
